@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap');
/* CORE STYLES */

/* Hamburger Help: https://codepen.io/bradtraversy/pen/vMGBjQ */
:root {
    /*--primary-color: #D18963e0;*/
    --action-color: #D18963;
    --overlay-color: #d18a63e0;
    --learn-color: #A3B2A7;
    --grey-color: #7f7f7f;

    --title-size: 64px;
    --title-weight: 800;
    --options-size: 48px;
    --options-select-weight: 800;
    --options-weight: 400;
    --heading-size: 48px;
    --heading-weight: 400;
    --subheading-size: 36px;
    --subheading-weight: 400;
    --bodyheading-size: 24px;
    --bodyheading-weight: 700;
    --body-size: 18px;
    --body-weight: 400;
    --button-size: 18px;
    --button-weight: 400;

    --menu-speed: 0.75s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.4;
}

h3 {
    font-size: var(--bodyheading-size);
    font-weight: var(--bodyheading-weight);
}
h4 {
    font-size: var(--body-size);
    font-weight: var(--body-weight);
}


.container {
    max-width: 100vw;
    margin: auto;
    overflow: hidden;
    padding: 0 3rem;
}

.showcase {
    background: var(--primary-color);
    color: #fff;
    height: 95vh;
    position: relative;
}

.showcase:before {
    content: '';
    background: url('Images/HeatTransfer.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.showcase .showcase-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.showcase h1 {
    font-size: var(--title-size);
    font-weight: var(--title-weight);
}

.btn {
    display: inline-block;
    font-size: var(--button-size);
    font-weight: var(--button-weight);
    border-radius: 5px;
    border: none;
    background: var(--action-color);
    color: #ffffff;
    padding: 0.75rem 1.5rem;
    margin-top: 1rem;
    transition: opacity 1s ease-in-out;
    text-decoration: none;
}

/*
.btn:hover {
  opacity: 0.7;
} 
*/

/*about-us group*/
.about-us {
    color: #000000;
    position: relative;
}

.about-us .about-us-inner {
    display: grid;
    height: 650px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    /*display: flex;
    flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100%;
        */
}

.about-us .teamDesign {
    grid-area: 1 / 1 / 2 / 2;
    margin-top: 60px;
    margin-right:40px;
    width: 40vw;
    height: auto;
    max-width:650px;
    justify-self:end;
}

.about-us .who-we-are {
    grid-area: 1 / 2 / 2 / 3;
    margin-top: auto;
    margin-left: 20px;
    margin-bottom: auto;
    max-width:650px;
}

.about-us .who-we-are h3 {
    font-size: var(--bodyheading-size);
    font-weight: var(--bodyheading-weight);
}

.about-us .who-we-are h4 {
    font-size: var(--body-size);
    font-weight: var(--body-weight);
}

/**/
.testimonials {
    color: #000000;
    height: 700x;
    position: relative;
}

.testimonials .testimonials-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 4fr 1fr repeat(3, 4fr) 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.testimonials .testimonials-inner div {
    margin-left: 20px;
}

.testimonials .testimonials-inner .test-header {
    grid-area: 1 / 1 / 2 / 3;
    position: relative;
    text-align: center;
}

.testimonials .testimonials-inner .test-header h1 {
    font-size: var(--heading-size);
    font-weight: var(--heading-weight);
}

.testimonials .testimonials-inner .test-header h2 {
    font-size: var(--subheading-size);
    font-weight: var(--subheading-weight);
}

.testimonials .testimonials-inner .testShirt {
    grid-area: 3 / 2 / 7 / 3;
    background-image: url("Images/PlanningShirt.jpeg");
    background-repeat:no-repeat;
    background-size:100%;
    margin-left: 40px;
    width: 35vw;
    max-width:650px;
    height: auto;
    margin-bottom:20px;
}

.testimonials .testimonials-inner .test1 {
    grid-area: 3 / 1 / 4 / 2;
    right:0;
    padding-left: 20px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width:650px;
    justify-self:end;
}

.testimonials .testimonials-inner .test1:hover {
    border-radius: 2px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.2s ease 0.2s;
}

.testimonials .testimonials-inner .test2 {
    grid-area: 4 / 1 / 5 / 2;
    padding-left: 20px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width:650px;
    justify-self:end;
}

.testimonials .testimonials-inner .test2:hover {
    border-radius: 2px;
    border-color: black;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.2s ease 0.2s;
}

.testimonials .testimonials-inner .test3 {
    grid-area: 5 / 1 / 6 / 2;
    padding-left: 20px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width:650px;
    justify-self:end;
}

.testimonials .testimonials-inner .test3:hover {
    border-radius: 2px;
    border-color: black;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.2s ease 0.2s;
}

.test1:hover ~ .testShirt {
    background-image: url("Images/shirt1.jpg");
    background-repeat: no-repeat;
    background-size:110%
}
#test2:hover ~ #testShirt {
    background-image: url("Images/shirt2.webp");
    background-repeat: no-repeat;
    background-size:110%
}
#test3:hover ~ #testShirt {
    background-image: url("Images/shirt3.webp");
    background-repeat: no-repeat;
    background-size:110%
}


/**/
.designers .designers-inner {
    display: grid;
    height: 500px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 3fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.designers-header {
    grid-area: 1 / 1 / 2 / 5;
    text-align: center;
}

.designers-header h1 {
    font-size: var(--heading-size);
    font-weight: var(--heading-weight);
}

div .profilepic {
    border-radius: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;

    width: 150px;
    height: 150px;
}

div h3 {
    text-align: center;
    font-size: var(--bodyheading-size);
    font-weight: var(--bodyheading-weight);
}

div h4 {
    text-align: center;
    font-size: var(--body-size);
    font-weight: var(--body-weight);
    padding-left: 20px;
    padding-right: 20px;
}

.designers-inner div .btn {
    width: 150px;
    display: flex;
    margin-left: auto;
    margin-right: auto;

    font-size: var(--button-size);
    font-weight: var(--button-weight);
    border-radius: 5px;
    border: none;
    background: var(--learn-color);
    color: #ffffff;
    margin-top: 1rem;
    transition: opacity 1s ease-in-out;
    text-decoration: none;
}

.designer1 {
    grid-area: 2 / 1 / 3 / 2;
}

.designer2 {
    grid-area: 2 / 2 / 3 / 3;
}

.designer3 {
    grid-area: 2 / 3 / 3 / 4;
}

.designer4 {
    grid-area: 2 / 4 / 3 / 5;
}

/**/

.ready-to-design .ready-to-design-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 300px;
}

.ready-to-design h1 {
    font-size: var(--subheading-size);
    font-weight: var(--subheading-weight);
}

.btn {
    display: inline-block;
    font-size: var(--button-size);
    font-weight: var(--button-weight);
    border-radius: 5px;
    border: none;
    background: var(--action-color);
    color: #ffffff;
    padding: 0.75rem 1.5rem;
    margin-top: 1rem;
    transition: opacity 1s ease-in-out;
    text-decoration: none;
}

.footer .footer-inner {
    display: grid;
    grid-template-columns: 12fr 2fr 1fr 2fr 1fr 2fr repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height:200px;
}

.footer .footer-inner div h3{
    font-size: 12px;
    font-weight: var(--bodyheading-weight);
}
.footer .footer-inner div h4{
    font-size: 12px;
    font-weight: var(--body-weight);
}
.footer .footer-inner div h4 a{
    font-size: 12px;
    font-weight: var(--body-weight);
    color:black;
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }


.logo {
    grid-area: 1 / 1 / 2 / 2;
    margin-left: 10px;
    width: 200px;
    height: auto;
}

.company-info {
    grid-area: 1 / 2 / 2 / 3;
}

.shirt-designing {
    grid-area: 1 / 4 / 2 / 5;
}

.final-project {
    grid-area: 1 / 6 / 2 / 7;
}

.copyright {
    grid-area: 2 / 1 / 3 / 2;
    text-align:left;
    font-size: 12px;
    font-weight: var(--body-weight);
}


.follow {
    grid-area: 2 / 6 / 3 / 7;
    font-size: 12px;
    font-weight: var(--body-weight);
}

.footer .footer-inner .facebook {
    grid-area: 2 / 7 / 3 / 8;
    margin-left: 10px;
    width: 34px;
    height: auto;
}

.footer .footer-inner .instagram {
    grid-area: 2 / 8 / 3 / 9;
    margin-left: 10px;
    width: 34px;
    height: auto;
}

.footer .footer-inner .tiktok {
    grid-area: 2 / 9 / 3 / 10;
    margin-left: 10px;
    width: 30.5px;
    height: auto;
}

.footer .footer-inner .twitter {
    grid-area: 2 / 10 / 3 / 11;
    margin-left: 10px;
    width: 30.5px;
    height: auto;
}



/**/
/**/
/**/
/**/
/* Hamburger MENU STYLES */
.menu-wrap {
    position: fixed;
    top: 0;
    right: 60px;
    z-index: 1;
}

.menu-wrap .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}

.menu-wrap .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Hamburger Line */
.menu-wrap .hamburger>div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger>div::before,
.menu-wrap .hamburger>div::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger>div::after {
    top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked+.hamburger>div {
    transform: rotate(135deg);
    background: white;

}

/* Turns Lines Into X */
.menu-wrap .toggler:checked+.hamburger>div:before,
.menu-wrap .toggler:checked+.hamburger>div:after {
    top: 0;
    transform: rotate(90deg);
    background: white;
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover+.hamburger>div {
    transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked~.menu {
    visibility: visible;
}

.menu-wrap .toggler:checked~.menu>div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked~.menu>div>div {
    opacity: 1;
    transition: opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
    /*Opened menu location*/
    position: fixed;
    top: 0px;
    right: 0px;
    width: 25%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrap .menu>div {
    background: var(--overlay-color);
    border-radius: 0%;
    /*edited */
    width: 100vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
}

.menu-wrap .menu>div>div {
    text-align: right;
    margin-top: -300px;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.menu-wrap .menu>div>div>ul>li {
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
}

.menu-wrap .menu>div>div>ul>li>a {
    color: inherit;
    font-weight: var(--options-weight);
    text-decoration: none;
    transition: color 0.2s ease;
}

.menu-wrap .menu>div>div>ul>li>.Home {
    font-weight: var(--options-select-weight);
}